<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="col-xs-3 p-a-1">
  <button class="btn btn-block btn-outline-primary" (click)="changeCategory()">
    Home
  </button>
  <button *ngFor="let cat of categories"
          class="btn btn-outline-primary btn-block"
          [class.active]="cat == selectedCategory"
          (click)="changeCategory(cat)">
    {{cat}}
  </button>
</div>
<div class="col-xs-9 p-a-1">
  <div *ngFor="let product of products" class="card card-outline-primary">
    <h4 class="card-header">
      {{product.name}}
      <span class="pull-xs-right tag tag-pill tag-primary">
        {{ product.price | currency:"USD":true:"2.2-2" }}
      </span>
    </h4>
    <div class="card-text p-a-1">{{product.description}}</div>
  </div>
</div>
